header.masthead {
  -webkit-background-size:  100% 100% !important;
  -moz-background-size:  100% 100% !important;
  -o-background-size:  100% 100% !important;
  background-size: 100% 100% !important;
}
p, span {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
  margin-top: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
}
.space {
  padding: 30px 16px !important;
}
.btn {
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 15px 15px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

@media (min-device-width : 320px) and (max-device-width : 576px){
  h1{
    font-size: 1.75rem !important;
    font-weight: 700 !important;
  }
  h2{
      font-size: 1.5rem !important;
    }
  h3{
      font-size: 1.5rem !important;
  }
  h4{
    font-size: 1rem !important;
  }
  h5 , p, span, strong{
    font-size: 1rem !important;
  }

  .section-heading {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    margin-top: 40px !important;
}

 .section-subheading{
  font-size: 1rem !important;
  font-weight: 400 !important;
 }

 .space {
  padding: 15px 8px !important;
}

.button{
    margin-top: 5px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
  }
.head{
  font-size: 3rem !important;
}
.subheading{
  font-size: 1.5rem !important;
}

}
.small{
  padding: 10px 10px !important;
  border-radius: 4px !important;
}
p,span {
  margin: 10px 0 !important;
}
span {
  line-height: 2 !important;
  }