<section id ="user-all-survey">
  <div class="container" >
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Select any survey</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6" ng-repeat="survey in allSurvey.surveys">
        <a ng-href="#/takeSurvey/{{survey.surveyId}}">  
          <div class="card text-center space">
            <h4> {{survey.surveyTitle }}</h4>
            <h5> {{survey.surveySubtitle}}</h5>
          </div>      
        </a>   
      </div>    
    </div>
    <br>
    <a href="#/" class="btn button btn-primary btn-md"> Back </a>     
  </div>   
  <br>    
</section>

